*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #fff 75%, #ff2400 25%);
}
.navigation {
    z-index: 20;
    width: 100%;
    top: 10%;
    position: absolute;
    display: flex;
    align-items: center;
}
.logo{
    width: 15%;
    display: flex;
    align-items: center;
}
.logotype {
    max-width: 60px;
    margin-left: 20%;
}
.nav-menu {
    width: 20%;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
}
.nav-item {
    padding: 0 10px;
}
.nav-link {
    text-decoration: none;
    color: #e01533;
    font-size: 16px;
    border-bottom: 2px solid transparent;
        
    transition: .3s;
    font-weight: bold;
}
.nav-link:hover{
    border-bottom: 2px solid #e01533;
}

.search-block {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    background-color: #fff;
    border: 2px solid #e01533;
    border-radius: 30px;
    width: 50%;
    z-index: 1;
}
.search-form {
    padding-left: 5%;
    width: 90%;
    height: 25px;
    z-index: 10;
    border-radius: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #6f6f6f;
}
.search-btn {
    color: #e01533;
    font-size: 17px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.personal-item {
    width: 18%;
}
.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.auth-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6f6f6f;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
}
.auth-link i{
    padding: 0 5px;
    font-size: 20px;
    color: #e01533;
}
.auth-link:hover{
    color: #e01533;
}

/*moblie version*/

.burger-link {
    display: none;
    position: absolute;
    top: 3%;
    right: 10%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e01533;
    background: #fff;
    z-index: 100;
}
.burger-link span, .burger-link span:before, .burger-link span:after{
    display: block;
    height: 2px;
    width: 18px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: 0;
}
.burger-link span:before{
    transition: all .3s;
    margin-top: -6px;
    content: '';
}
.burger-link span:after{
    transition: all .3s;
    margin-top: 4px;
    content: '';
}

.burger-link_active span:before{
    transform: rotate(45deg);
    margin-top: 0;
}
.burger-link_active span:after{
    transform: rotate(-45deg);
    margin-top: 0;
}

.burger-link_active span{
    background: transparent;
}

.mobile-nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #e01533;
    transition: .5s;
    z-index: 99;
    left: -100%;
}
.nav-active{
    left: 0;
}
.mobile-menu {
    list-style: none;
    text-align: center;
    margin: 0px auto;
}
.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}
.menu-link {
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
    text-decoration: none;
    z-index: 1;
}

/*mobile version ended*/


.main-information {
    position: absolute;
    top: 18%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}
.text-inform h1 {
    color: #000;
    font-size: 70px;
    margin: 0;
    padding: 0;
    font-family: 'Brush Script MT', fantasy;
}
.text-inform strong{
    color: #e01533;
    text-decoration: underline;
}
.tagline{
    color: #6f6f6f;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.inform-link {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;

}
.inform-btn{
    border: 2px solid #e01533;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 3px 30px;
    transition: .3s;
}
.read {
    color: #e01533;
}
.read:hover{
    color: #fff;
    background: #e01533;
}
.shop {
    color: #fff;
    background: #e01533;
}
.shop:hover{
    color: #e01533;
    background: #fff;
}
.social{
    left: 7%;
    position: absolute;
    bottom: 3%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e01533;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
}
.find a:hover{
    color: #6f6f6f;
}
.find i{
    padding: 0;
    font-size: 20px;
    margin-top: -5px;
    animation: place 1s infinite;
    animation-timing-function: linear;
}
.connect{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.social-icon{
    display: flex;
    align-items: center;
    list-style: none;
}
.social-link{
    padding: 0px 6px;
    color: #fff;
    font-size: 20px;
    transition: .3s;
}
.social-link:hover{
    color: #000;
}
.social-link i{
    padding-left: 20px;
}
/*map*/
.maps-block {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .2);
    z-index: 200; 
    box-sizing: border-box;     
}
.maps-block_active{
    display: flex;
}
.maps {
    background: #fff;
    width: 70%;
    height: 70%;
    border-radius: 20px;
}
.exitMaps {
    left: calc(100% - 30px);
    z-index: 250;
}
.mapStore {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: -30px;
}

@keyframes place{
    0% {
        margin-top: -3px;
    }
    50% {
        margin-top: 3px;
    }
    100% {
        margin-top: -3px;
    }
}
@media screen and (max-width: 1200px) {
    .photo-model {
        max-width: 50%;
    }
    .photo-model img {
        width: 100%;
    }
    .nav-menu {
        display: none;
    }
    .personal-item { 
        display: none;
    }
    .logo {
        width: 20%;
    }
    .search-block {
        width: 60%;
    }
    .burger-link {
        display: block;
    }
}
@media screen and (max-width: 1000px){
    body{
        background: #fff;
    }
    .search-btn{
        font-size: 15px;
    }
    .main-information{
        flex-direction: column;
    }
    .photo-model{
        max-width: 60%;
    }
    .text-inform h1{
        text-align: center;
        font-size: 45px;
    }
    .tagline{
        text-align: center;
        font-size: 14px;
    }
    .inform-link{
        width: 100%;
        justify-content: center;
    }
    .inform-btn{
        margin: 0 10px;
        font-size: 14px;
    }
    .connect{
        color: #000;
        font-size: 15px;
    }
    .social-link{
        color: #e01533;
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    .text-inform h1{
        font-size: 40px;
    }
    .search-form{
        width: 80%;
    }
    .search-btn{
        width: 20%;
    }
    .maps{
        width: 95%;
        height: 80%;
    }
}
@media screen and (max-width: 500px) {
    .logotype{
        max-width: 40px;
    }
    .search-form{
        height: 20px;
    }
    .search-btn{
        font-size: 12px;
    }
    .text-inform h1{
        font-size: 30px;
    }
    .inform-btn{
        margin: 0 10px;
        font-size: 12px;
    }
    .find a{
        font-size: 12px;
    }
    .find i{
        font-size: 14px;
    }
    .social-link{
        padding-left: 10px;
    }
    .burger-link{
        top: 2%;
    }
    .sign{
        width: 300px;
    }
}
@media screen and (max-height: 650px) {
    body{
        height: 120vh;
    }
    .main-information{
        top: 30%;
    }
    .social{
        top: 110%;
    }
    /*.sign{
        width: 300px;
    }
    .exit{
        left: 270px;
    }*/
}
@media screen and (max-height: 500px) and (max-height: 1000px){
    body{
        height: 180vh;
    }
    .main-information{
        top: 70%;
    }
    .social{
        top: 180%;
    }

}
/*sign block*/
.sign-block {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .2);
    z-index: 2;
    box-sizing: border-box;
}
.sign-block_active{
    display: flex;
}
.sign {
    background: #fff;
    width: 350px;
    height: 400px;
    border-radius: 20px;
}
.exit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 0 20px 0 20px;
    position: relative;
    left: calc(100% - 30px);
    background: rgba(114, 114, 114, .15);
    transition: .3s;   
}
.exit:hover{
    background: #e01533;
    color: #fff;
}
.sign-head {
    font-size: 35px;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    user-select: none;
}
.input-data, .input-btn {
    width: 70%;
    margin: 25px auto;
}
.input-data input{
    width: 100%;
    border: 2px solid rgba(114, 114, 114, .5);
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    transition: .3s;
    height: 30px;
    text-align: center;
}
.input-data input:focus{
    border: 2px solid #e01533;
    color: #e01533;
}
.input-btn input{
    width: 100%;
    border: 2px solid #e01533;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    background: #e01533;
    padding: 6px 0;
    transition: .3s;
}
.input-btn input:hover{
     background: #fff;
     color: #e01533;
}
.notReg {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
}
.notReg-btn input{
    background: #fff;
    color: #e01533;
}
.notReg-btn input:hover{
    background: #e01533;
    color: #fff;
}
.input-btn {
}
.notReg-btn {
}